/******************************
General Elements
******************************/

/* article encapsulation */
.site-content-contain {
    margin: -24px 0 0 0;
}

/* overall content encapsulation */
.mainBody {
}

/* all sections */
.divOne, .divTwo {
}

/* invoke flex */
.flex {
	display: flex;
}

/* right/left module */
.right {
    display: flex;
    width: 50%;
    background: #7fd2ec;
    padding: 1%;
    height: 500px;
}
/* right/left module 2 */
   .left {
    display: flex;
    width: 50%;
    height: 500px;
    background: #f2f2f2;
    padding: 1%;
}

/******************************
Section one - header
******************************/
.divOne {
    padding: 0;
    text-align: center;
    color: white;
    padding: 5% 0 5% 0;
}

/* header */
.divOne h1 {
    font-size: 780%;
    margin: 0;
    padding: 0;
    color: #7fd2ec;
}

/******************************
Section two 
******************************/
.divTwo {

}

<<<<<<< HEAD


.divTwo 
}

/******************************
Section two 
******************************/
.divThree {

=======
.divTwo .left {
    display: flex;
    align-items: left;
}

.divTwo .right {
    display: flex;
    align-items: right;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 2eda1db... Update
=======
>>>>>>> parent of 2eda1db... Update
=======
>>>>>>> parent of 2eda1db... Update
}


/******************************
Display none's
******************************/
/* hiding the header */
.site-branding {
    display: none;
}

/* removal of page scroll down button */
.site-header .menu-scroll-down {
    display: none;
}

/* hiding the footer */
footer#colophon {
    display: none;
}
