/******************************
General Elements
******************************/


/******************************
Cascading Elements
******************************/
/* article encapsulation */
.site-content-contain {
    margin: -24px 0 0 0;
}

/* overall content encapsulation */
.mainBody {
	
}

/* all sections */
.divOne, .divTwo {
	padding: 1% 20% 1% 20%;
}


/* section one */
.divOne {
	background: red;
	
}

/* section two */
.divTwo {
		background: green;
}

/******************************
Display none's
******************************/
/* hiding the header */
.site-branding {
display: none;
}

/* removal of page scroll down button */
.site-header .menu-scroll-down {
    display: none;
}