/******************************
General Elements
******************************/

/* article encapsulation */
.site-content-contain {
    margin: -24px 0 0 0;
}

/* overall content encapsulation */
.mainBody {
}

/* all sections */
.divOne, .divTwo {
}

/* invoke flex */
.flex {
	display: flex;
}

/******************************
Section one - header
******************************/
.divOne {
    padding: 0;
    text-align: center;
    color: white;
    padding: 5% 0 5% 0;
}

/* header */
.divOne h1 {
    font-size: 780%;
    margin: 0;
    padding: 0;
    color: #7fd2ec;
}

/******************************
Section two 
******************************/
.divTwo {
    border-top: 1px solid #7fd2ec;
    border-bottom: 1px solid #7fd2ec;
}

.divTwo .left {
    display: flex;
    align-items: left;
}

.divTwo .right {
    display: flex;
    align-items: right;
}

/******************************
Display none's
******************************/
/* hiding the header */
.site-branding {
    display: none;
}

/* removal of page scroll down button */
.site-header .menu-scroll-down {
    display: none;
}

/* hiding the footer */
footer#colophon {
    display: none;
}
