/******************************
General Elements
******************************/
/* Top header styling */
.site-branding {
    padding: 80px 0 80px 0;
    background: #bfbfbf;
    text-align: center;
}

/* Removal of page scroll down button */
.site-header .menu-scroll-down {
    display: none;
}

/******************************
Cascading Elements
******************************/
/* Overall Content Encapsulation */
.mainBody {
	
}

/* Section One */
.divOne {
	background: red;
	padding: 40px 0 60px 0;
}

/* Section Two */
.divTwo {
		background: green;
}