/******************************
General Elements
******************************/
/* top header styling */
.site-branding {
    padding: 80px 0 80px 0;
    background: #bfbfbf;
    text-align: center;
}

/* removal of page scroll down button */
.site-header .menu-scroll-down {
    display: none;
}

/******************************
Cascading Elements
******************************/
/* article encapsulation */
.site-content-contain {
    margin: -24px 0 0 0;
}

/* overall content encapsulation */
.mainBody {
	
}

/* section one */
.divOne {
	background: red;
	padding: 40px 0 60px 0;
}

/* section two */
.divTwo {
		background: green;
}