/* Attempted to change button colours still testing */
input[type="submit"] {
	background: #5cf9ec;
	border-radius: 0 !important;
	border: 2px solid #5cf9ec;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	height: 50px;
	letter-spacing: 1px;
	line-height: 48px;
	max-width: 250px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}

/* Contact for background*/
.contactFormBackground {

    padding: 4% 18% 4% 18%;
    text-align: center;
    color: #253a50;
    background-image: url(https://i.imgur.com/ElJAWLA.jpg);
    background-attachment: fixed;
    background-size: cover;
}
