/* Github import */
/* @import url('https://rawgit.com/Jmackas/Partnership_CDN/master/scoot_client_portal/git_styles.css'); */

/*=================================
Universal Elements
=================================*/
/* Scoot Portal Background */
section.content-area {
    padding: 96px 0;
    position: relative;
    overflow: hidden;
    background: url(https://i.imgur.com/TeXuqeO.jpg);
    background-size: 100%;
    background-position: 35% 90%;
}

/*=================================
Front Page Login Module
=================================*/
/* Container class */
.front_page_login .cleanlogin-container {
	background: linear-gradient(to bottom, #fff, #fff6);
	border: initial;
	border-radius: 0px;
	box-shadow: none;
	padding: 250px 25px 0px 25px;
}

/* Input fields */
.front_page_login .cleanlogin-field {
    margin: 0;
}

/* Log in input field */
.front_page_login .cleanlogin-form input[type="submit"] {
    height: initial;
    padding: initial;
}



/*=================================
Miscellaneous styles
=================================*/
/* Scoot Portal Login Page Header Removal https://colorlib.com/wp/forums/topic/remove-header-callout-from-all-pages-but-not-portfolio/ */
.header-callout {
    display: none;
}