/* Github import */
/* @import url('https://rawgit.com/Jmackas/Partnership_CDN/master/scoot_client_portal/git_styles.css'); */

/*=================================
Universal Elements
=================================*/
/* Scoot Portal Background */
section.content-area {
    padding: 96px 0;
    position: relative;
    overflow: hidden;
    background: url(https://i.imgur.com/JPp1NAQ.jpg);
    background-size: 100%;
   /* background-position: 35% 90%;*/
	background-size: cover;
    background-position: center;
}

/*=================================
Front Page Login Module
=================================*/
/* Container class */
.front_page_login .cleanlogin-container {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.4));
    background-image: url("https://i.imgur.com/gUFTdp2.png"), linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.4));
    background-position: 0 7%;
    background-size: contain;
    background-repeat: no-repeat;
    border: initial;
    border-radius: 0px;
    box-shadow: none;
    padding: 280px 25px 0px 25px;
}

/* Username and password fields */
input.cleanlogin-field-username, input.cleanlogin-field-password {
	margin: 0;
	border: initial;
	border-bottom: 1px solid #b7b7b7;
	background: initial;
}

/* Log in input field */
.front_page_login .cleanlogin-form input[type="submit"] {
    height: initial;
    padding: initial;
    transition: .3s;
    background-color: #17b6bc;
    border: 2px solid #17b6bc;
    border-radius: 3rem !important;
}

/* Log in input field hover */
.front_page_login .cleanlogin-form input[type="submit"]:hover {
    background: white;
    color: #8c979e;
    border: 2px solid #17b6bc;
}

.front_page_login .cleanlogin-form input[type="submit"]:focus {
	transform: translate(0, 2px);
} 

/*=================================
Client Portal Dashboard
=================================*/
div#main {
    background: white;
}

/*=================================
Miscellaneous styles
=================================*/
/* Scoot Portal Login Page Header Removal https://colorlib.com/wp/forums/topic/remove-header-callout-from-all-pages-but-not-portfolio/ */
.header-callout {
    display: none;
}