/*
https://github.com/leontan15/Partnership_CDN/blob/master/waterseal/Leons_Updates.CSS
*/
/********************
Universal
********************/
/* Header size increase */
nav#site-navigation {
    padding: 30px;
}

/* Waterseal image size maximum */
.logo {
    max-height: 100%;
    padding: 0;
}

/* Page Headers Centre */
h2.post-title {
    text-align: center;
    border: 10px solid rgba(0, 223, 255, 0.5);
    outline: 15px solid rgba(19, 59, 81, 0.5);
    padding: 20px 0 20px 0;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

/* Header changes in mobile */
@media only screen and (max-width: 991px) {
    .site-header img.logo {
        display: none;
    }

    nav#site-navigation {
        padding: 0;
    }
}

/* Hide meta tag that displays date/time + author */
.entry-meta {
    display: none;
}

/* List drop down menu styling */
.menu > li > ul li a:hover, .dropdown-menu > .active > a:hover {
    background: #00dfff;
}

/* Search button styling */
.btn.searchsubmit:hover {
    background: #00dfff;
}

/* Page margins full width */
.container {
    width: 100%;
    padding: 0;
}

.row {
    margin: 0;
}

/* Removal of top header padding #CAUTION# */
section, footer {
    padding: 0;
}

/* Extended divider */
.extenderOne {
    padding: 6px;
    background: #00dfff;
}

.extenderTwo {
    padding: 15px;
    background: #133b51;
}


/********************
Top 'Contact Us' banner
********************/
div#scb-wrapper span {
    color: white;
    text-decoration: underline;
}

/********************
Home page
********************/
/* Top parallax image */
.topParallax {
    padding: 8% 18% 6% 18%;
    text-align: center;
    background-image: url(https://i.imgur.com/qfVXsHS.jpg);
    background-attachment: fixed;
    background-position: 78% 0;
    background-size: cover;
}

.topParallax .upperCase {
    text-transform: uppercase;
}

.topParallax h1 {
    color: white;
    color: #00ffff;
    font-weight: bold;
}

.topParallax img {
    width: 310px;
}

@media only screen and (max-width: 500px) {
    .topParallax {
        background-attachment: initial;
        background-repeat: initial;
    }

    /* Hide image in mobile */
    imageHide {
        display: none;
    }
}

/* Middle section modules */
.divOne {
    display: flex;
    justify-content: center;
    padding: 4% 1% 1% 1%;
    text-align: center;
    font-size: 130%;
    line-height: 170%;
}

/* Div Backgrounds */
div#custom_html-5 {
    background: white;
}

div#custom_html-7 {
    background: lightgray;
}

.divOne .left {
    margin: 0 0 0 15%;
}

.divOne .right {
    margin: 0 15% 0 0;
}

.divOne .left, .divOne .right {
    float: left;
    width: 50%;
    padding: 20px;
}

@media only screen and (max-width: 767px) {
    .divOne {
        display: initial;
        background-image: initial;
    }

    .divOne .left, .divOne .right {
        float: initial;
        width: initial;
    }

    .left {
        margin: 0 !important;
        text-align: center;
    }

    p {
        font-size: 90%;
    }
}

/* Front Page Contact Form */
.contactForm {
    margin: 5% 15% 0% 15%;
    border: 1px solid #aebbc3;
    padding: 5%;
    background: white;
}

.contactFormBackground {
    padding: 4% 18% 4% 18%;
    color: #253a50;
    text-align: center;
    background-image: url(https://i.imgur.com/4KLCsE7.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.contactForm input, .contactForm textarea {
    border: 1px solid #aebbc3;
}

/* Contact form submit button */
input#nf-field-16 {
    padding: 1%;
}

/* footer padding */
footer#colophon .container.footer-inner .row {
    padding: 1%;
}

@media only screen and (max-width: 767px) {
    .contactFormBackground {
        padding: 0;
    }

    .contactForm {
        margin: 0;
    }

    .divOne .right {
        margin: 0;
    }
}

/********************
About Page
********************/
/********************
Services Page
********************/
/* Targeted all the blurbs of the slideshow in a div */
.ms-info {
    padding: 0 1% 0 3%;
}

/* Image thumbnail frame size */
.ms-thumb-frame {
    height: 67px !important;
    border: 1px solid lightgray;
}

/* Image thumbnail size */
img.ms-thumb {
    height: 67px !important;
}

@media only screen and (max-width: 936px) {
    .master-slider {
        margin: 0 0 0 0 !important;
        width: initial !important;
        height: 900px;
    }
    
    .ms-info {
        transform: translate(513px, 613px);
    }
    
    .ms-slide-info.ms-dir-v.ms-align-left {
        width: 100% !important;
    }
    
}




/********************
Project Gallery Page
********************/
/* Encapsulating the image background completely */
.mfp-wrap.mfp-gallery.mfp-auto-cursor.mfp-ready .mfp-figure {
    background: #444444;
}

/********************
Hacky Edits  or Display None's
********************/
/* Hiding the top gray box */
.header-callout {
    display: none;
}

/* Footer credit hide */
.footer-credits {
    display: none;
}
