/* background styles of modules */
#demos .owl-carousel .item {
    height: initial;
    padding: initial;
    background: none;
}

/* color styles of modules */
.servicesModule {
    color: black;
    background: white;
}

/* margins made full width */
.row {
   margin: 0;
   max-width: initial;
}

/* carasoul stage full width */
.owl-stage {
    width: 2930px !important;
}

