/* background styles of modules */
#demos .owl-carousel .item {
    height: initial;
    padding: initial;
    background: none;
}

/* color styles of modules */
.servicesModule {
    color: black;
    background: white;
}


