/*--------------------------------------
Universal Elements
--------------------------------------*/
/* 'Websites' page encapsulation */
.websites {
    color: #333;
}

.websites h1, .websites h2, .websites h3 {
    color: #333;
    text-shadow: initial;
}

ul {
    margin: 0 0 0 19px;
}

/*--------------------------------------
Header Title Section
--------------------------------------*/
/* Title and header encapsulation */
.headerMenu {
    background: #408ac9;
    padding: 2% 20%;
}

.websites h1, .websites h3 {
    text-shadow: 1px 1px 1px black;
    color: white;
}


@media only screen and (max-width: 869px) {
    .headerMenu {
        padding: initial;
    }
}

/*--------------------------------------
Article Content
--------------------------------------*/
/* Article encapsulation */
.websitePackages {
    padding: 2% 20%;
}

.websites h2 {
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 5px;
}