/*
Link to website: http://4ff.b17.myftpupload.com/
Inspiration: https://myst.gr/ 
Gradient colour inspiration: http://www.colorzilla.com/gradient-editor/
https://www.wauc.org.au/

Table of Contents:
    Universal
        Universal elements
        Footer
    Front Page    
        Header styling
        Introductory module
        'About Us' section
        'Services' section
        'Contact Us' section
    Services
    Other miscellaneous code


 
*/
/*--------------------------------------
Universal elements
--------------------------------------*/
/* Sans Font from Google Import */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

/* The element that can target everything */
body {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: white;
}

p {
    font-size: 130%;
}

/* Module divider */
.moduleDivider {
    border-top: 2px solid white;
}

/* Scoot custom button one */
.scootButtonOne {
    color: white;
    background: rgba(0,0,0,0);
    border: 2px solid white;
    border-radius: 3px;
    font-size: 150%;
    padding: 3% 7%;
    transition: 0.4s;
}

/* Scoot custom button one action */
.scootButtonOne:hover, .scootButtonOne:focus,.scootButtonOne:active {
    background: white;
    color: black;
}

/* Scoot custom button two */
.scootButtonTwo {
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 130%;
    padding: 2% 4%;
    transition: 0.4s;
}

/* Scoot custom button two action */
.scootButtonTwo:hover, .scootButtonTwo:focus,.scootButtonTwo:active {
    background: white;
    color: black;
}

/* Center an element with Flex */
.flexCenter {
    display: flex;
    justify-content: center;
}

/* Header one styling (universal) */
h1 {
    color: white;
    font-size: 450%;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}

/* Header two styling (universal) */
h2 {
    color: white;
    font-size: 300%;
    text-shadow: 1px 1px 1px black;
}

/* Header three styling (universal) */
h3 {
    color: white;
    font-size: 200%;
    margin: 0 0 10% 0;
    text-shadow: 1px 1px 1px black;
}

/*--------------------------------------
Footer
--------------------------------------*/
footer {
    background: black;
    padding: 2% 3%;
    text-align: center;
}

/*--------------------------------------
Header styling
--------------------------------------*/
/* Header encapsulation */
header {
    display: flex;
    padding: 1% 4%;
}

/* Logo top left container */
.imageLogo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Targeted logo */
.imageLogo img {
    width: 200px;
    height: 59.13px;
    display: flex;
}

/* Menu encapsulated items */
.menuItems {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

/* Individual menu items */
.menuItems a {
    padding: 3% 3%;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

/* Individual menu items interaction */
.menuItems a:hover, .menuItems a:active, .menuItems a:focus {
    background: rgb(23,185,186);
    color: white;
}

/* Menu item 'Contact Us' */
.menuItems .contactUs {
    background: #FF6B40;
    color: white;
}

/* Menu item 'Contact Us' interaction */
.menuItems .contactUs:hover, .menuItems .contactUs:active, .menuItems .contactUs:focus {
    background: rgb(23,185,186);
}

/* Media query for all 'Header styling' */
@media only screen and (max-width: 620px) {
    .menuItems {
        display: none;
    }

    header {
        justify-content: center;
        padding: 20px;
    }
}

/*--------------------------------------
Introductory module
--------------------------------------*/
/* 'Introductory module' encapsulation */
.introModule {
    text-align: center;
    padding: 4% 0 15% 0;
    background: linear-gradient(to bottom right, #16babc 0%, #408bc9 63%);
    /* background-image: url('https://raw.githubusercontent.com/Jmackas/Partnership_CDN/master/scoot_homepage/elements/header.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*--------------------------------------
'About Us' section
--------------------------------------*/
/* About Us section' encapsulation */
.aboutUs {
    background: rgb(35,84,152);
    padding: 2% 20%;
}

/*--------------------------------------
'Services' section
--------------------------------------*/
/* 'Services section' encapsulation */
.ourServices {
    /* background: #1aa4a5; */
    padding: 2% 20%;
    background: linear-gradient(to bottom, #235498, #3c6db0); 
}

/* Encapsulating the bubbles */
.servicesBubbles {
    display: flex;
    text-align: center;
}

/* Encapsulating the 'Web Design' bubble and 'Search Engine Optimisation' bubble */
.webDesignSeo {
    width: 49%;
    margin-left: 2%;
}

/* 'Digital marketing' bubble */
a.digitalMarketing {
    transition: 0.4s;
    border: 1px solid white;
    font-size: 230%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 400px;
}

/*'Web Design' bubble */
a.webDesign {
    transition: 0.4s;
    border: 1px solid white;
    font-size: 160%;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 185px;
    margin-bottom: 30px;
}

/* 'Search Engine Optimisation' bubble */
a.seo {
    border: 1px solid white;
    transition: 0.4s;
    font-size: 160%;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 185px;
    /*! text-align: center; */
}

/* All bubbles on interaction */
a.seo:hover, a.seo:active, a.seo:focus, a.webDesign:hover, a.webDesign:active, a.webDesign:focus, a.digitalMarketing:hover, a.digitalMarketing:active, a.digitalMarketing:focus {
    background: white;
    color: black;
}

@media only screen and (max-width: 620px) {
    .servicesBubbles {
        display: block;
    }

    .webDesignSeo, a.digitalMarketing {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    a.seo, a.webDesign {
        width: 100%;
        margin: 5px 0;
        height: 140px;
    }
}

/*--------------------------------------
'Contact Us' section
--------------------------------------*/
/* 'Contact Us' encapsulation */
.contactUs {
    text-align: center;
    padding: 2% 23%;
    background: rgb(60,109,176);
     }

/* Increase the size of the paragraph text */
.contactUs p {
    font-size: 140%;
}

/* Remove the generated form header and some text */
.contactUs h3, .nf-form-fields-required {
    display: none;
}

/* Form labels coloured */
label {
    color: white;
}

/* Media query that encapsulates the entirety of the 'Contact Us' section */
@media only screen and (max-width: 869px) {
    .contactUs {
        padding: 2%;
    }
}
















/*--------------------------------------
Other miscellaneous code
--------------------------------------*/
/* Force the article widths back to normal in mobile */
@media only screen and (max-width: 782px) {
    .ourServices, .aboutUs {
        padding: 2% 3%;
    }
}