/*
    Link to website: http://4ff.b17.myftpupload.com/
*/
/******************************
Universal elements
******************************/
/* The element that can target everything */
body {
    font-family: roboto;
}

/******************************
Slider
******************************/
/* main header styling */
.frontPage header {
    display: flex;
}

/* logo styling */
.frontPage header img {
    width: 300px;
    height: 180px;
}