/******************************
Header
******************************/
/* Display all elements as a flex */
header {
    display: flex;
}

/* logo div styling */
.headerLogo {
    width: 20%;
}

/* menu items styling */
.menuItems {
    width: 80%;
}

