/*===================================
Universal Elements
===================================*/
/* Sans Font from Google Import */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

/* Header font from Google Import */
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

/* The element that can target everything */
body {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #333;
}

h1 {
    font-size: 400%;
    color: #ffffff;
    font-family: Calligraffitti;
    text-shadow: 1px 1px 1px #000;
}

h2 {
    font-size: 60px;
    color: #333;
}

/*===================================
Header
===================================*/
/* Header container */
.header {
    display: flex;
    height: 100vh;
    background: #408bc9;
}

/* Scoot Digital logo container */
.scootDigitalLogo {
    height: 100vh;
    width: 40%;
    background-image: url('https://i.imgur.com/I6aGHVL.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Header main content */
.headerMainContent {
    width: 60%;
    padding: 1% 0 0 0;
    height: 100vh;
    align-items: center;
    display: flex;
}

/*===================================
Services Carousel
===================================*/
/* Carousel container */
.servicesCarousel {
    display: flex;
}

/* Carousel all individual elements */
.servicesCarousel a {
    display: flex;
    text-align: center;
    width: calc(100% / 6);
    height: 300px;
    color: #c8c8c8;
    justify-content: center;
    align-items: center;
    background: #191919;
    transition: .2s;
    border-bottom: 4px solid #191919;
}

/* Carousel all individual elements on hover */
.servicesCarousel a:hover {
    background: white;
    color: #333;
    border-bottom: 4px solid #408bc9;
}


/*===================================
About Us Section
===================================*/
/* About us container */
.aboutUs {
    width: 80%;
    height: 75vh;
    margin: auto;
    padding: 3% 0 0 0;
}



/*===================================
Miscellaneous Code
===================================*/
