/*===================================
Header elements
===================================*/
/* Navbar buffer that restricts the nav menu from overlaying the header content */
.navbar_buffer {
	padding: 5% 0;
	background: linear-gradient(to right, #408ac9 , #16babc);
}


.services_page .header {
	/* Elements to reset the main page's styling */
	background: initial;
	background-image: initial;
	height: initial;
}

/* Header*/
.services_page .header_bar {
	/* New elements */
	padding: 2% 20%;
	background: linear-gradient(to right, #408ac9 , #16babc);
}

/* H2 */
.services_page h2 {
	color: white;
	text-shadow: 1px 1px 1px #333;
}


/*===================================
Services descriptions
===================================*/
/* Services descriptions container */
.services_desc {
    padding: 4% 20%;
}

/* H3 */
.services_desc h3 {
    font-size: 210%;
	padding: 0 0 8px 0;
	border-bottom: 3px solid #1abbbd;
}

/* Images within the services container */
.services_image {
    margin: 2% 0 10% 0;
}