/*===================================
Header elements
===================================*/
/* Navbar buffer that restricts the nav menu from overlaying the header content */
.navbar_buffer {
	height: 140px;
	background: linear-gradient(to right, #408ac9 , #16babc);
}


.services_page .header {
	/* Elements to reset the main page's styling */
	background: initial;
	background-image: initial;
	height: initial;
}

/* Header*/
.services_page .header_bar {
	/* New elements */
	padding: 10%;
	background: linear-gradient(to right, #408ac9 , #16babc);
}

/* H2 */
.services_page h2 {
	color: white;
	text-shadow: 1px 1px 1px #333;
}

/* Button one styling */
.button_one {
    background: #1abbbd;
    color: white;
    padding: 18px;
    transition: .2s;
    border: 1px solid rgba(0,0,0,0);
}

.button_one:hover {
    background: rgba(0,0,0,0);
    border: 1px solid #333;
}


/*===================================
Services descriptions
===================================*/
/* Services descriptions container */
.services_desc {
    padding: 4% 20%;
}

/* H3 */
.services_desc h3 {
    font-size: 210%;
	padding: 0 0 8px 0;
	border-bottom: 3px solid #1abbbd;
}

.services_desc p {
    font-size: 130%;
    line-height: 200%;
    text-align:  justify;
}

/* Images within the services container */
.services_image {
    margin: 4% 0 20% 0;
}


