/*

Notes:
    https://www.wauc.org.au/


Warning:


*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/*================================
Universal
================================*/
body {
    font-family: 'Amatic SC', cursive;
}

/* Article width */
.wrap {
    width: 100%;
    margin: 0;
    padding: 0;
}




/*================================
Top Header
================================*/
/* Header container */
.custom-header {
    height: 100vh;
}

/* Header 1 */
.custom-header h1 {
    padding: 5% 12%;
    font-size: 441%;
}



/*================================
Menu Bar
================================*/
/* Overall menu bar */
.navigation-top {
    display: flex;
    justify-content: center;
}

/* Menu bar targeted */
.navigation-top .wrap {
    display: flex;
    justify-content: center;
}


/*================================
Undesirable Code
================================*/


