/*

Notes:



*/

/*================================
Universal
================================*/
.wrap {
    width: 100%;
    margin: 0;
    padding: 0;
}




/*================================
Top Header
================================*/
.custom-header {
    height: 100vh;
}



/*================================
Menu Bar
================================*/
/* Overall menu bar */
.navigation-top {
    display: flex;
    justify-content: center;
}

/* Menu bar targeted */
.navigation-top .wrap {
    display: flex;
    justify-content: center;
}


/*================================
Undesirable Code
================================*/


