/*

Notes:
    https://www.wauc.org.au/


Warning:


*/

@import url('https://fonts.googleapis.com/css?family=Dosis');

/*================================
Universal
================================*/
body {
    font-family: 'Dosis', sans-serif;
}

/* Article width */
.wrap {
    width: 100%;
    margin: 0;
    padding: 0;
}




/*================================
Top Header
================================*/
/* Header container */
.custom-header {
    height: 100vh;
    padding: 5% 12%;
    background: white;
}

/* Logo */
.custom-header img {
    width: 20%;
}

/* Header 1 */
.custom-header h1 {
    font-size: 113px;
    padding: 0;
}



/*================================
Menu Bar
================================*/
/* Overall menu bar */
.navigation-top {
    display: flex;
    justify-content: center;
}

/* Menu bar targeted */
.navigation-top .wrap {
    display: flex;
    justify-content: center;
}


/*================================
Undesirable Code
================================*/


