/*
The stylesheet has been positioned below Leon's to ensure specificity override.

Completed (excluding stylesheet updates below):
    

*/

/*********************
Universal elements
*********************/


/*********************
Menu items
*********************/
/* Menu style removal */
.main-navigation li a::before, .main-navigation li.current-menu-item > a::before, .main-navigation li.current_page_item > a::before {
    transition: initial;
    background: initial;
}

/* Menu mobile view pushed to the top */
.logged-in #mobile-trigger {
    top: 0;
}



/*********************
Front page
*********************/
/* force the width of the product range ('our range') to 100% */
.product-list-wrap img {
    width: 100%;
}