/*
The stylesheet has been positioned below Leon's to ensure specificity override.

Completed:


*/

/*********************
Universal elements
*********************/


/*********************
Menu items
*********************/
/* Menu style removal */
.main-navigation li a::before, .main-navigation li.current-menu-item > a::before, .main-navigation li.current_page_item > a::before {
    
    transition: initial;
    background: initial;
    
}



/*********************
Front page
*********************/